<%= form_with(model: @movie, local: true) do |form| %>

 <div class="movie">
    <%= form.label :movie %>
    <%= form.text_field :movie %>
  </div>

  <div class="genre">
    <%= form.label :genre %>
    <%= form.text_field :genre %>
  </div>

  <div class="year">
    <%= form.label :year %>
    <%= form.text_field :year %>
  </div>

  <div class="Synopis">
     <%= form.label :synopis %>
    <%= form.text_field :synopis %>
    </div>

    <div class="actions">
    <%= form.submit %>
  </div>
  fe
<% end %>

<%# test %>